@font-face {
    font-family: 'EtchedFont';
    src: url('./font/Greek-Freak.ttf') format('truetype'); /* Correct format */
    font-weight: normal;
    font-style: normal;
}

#score, #missed {
    font-family: 'EtchedFont', 'Courier New', Courier, monospace; /* Fallbacks are 🔑 */
    position: absolute;
    top: 50px;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: rgb(255, 210, 192); /* Peachy vibe */
    /* Optional styles */
    /* background-color: black; */
}
.over{
    position: absolute;
    /* justify-self: center; */
    top:40vh;
}
.missed,.score{
    width: 200px;
    height: 87px;
    display: flex;
    justify-content: center;
    /* overflow: hidden; */
    /* object-fit: contain; */
}
img{
    object-fit: contain;
    width: 100%;
    height: 100%;

}
canvas{
    width: 1024px;
    height: 576px;
    border: 10px solid rgb(105, 74, 33);
}
body{
    background-image: url("fruit-ninja-assets/cuttingboard.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.scoreboard{
    position: absolute;
    display: flex;
    justify-content: space-around;
    user-select: none;
    height: 100px;
    width:90vw;
}