@font-face {

    font-family: 'EtchedFont';
    src: url('./font/Greek-Freak.ttf') format('truetype');
    /* Correct format */
    font-weight: normal;
    font-style: normal;
}

/* *{
    margin: 0;
    padding: 0;;
} */

#score,
#missed {
    font-family: 'EtchedFont', 'Courier New', Courier, monospace;
    /* Fallbacks are 🔑 */
    position: absolute;
    top: 50px;
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: rgb(255, 210, 192);
    /* Peachy vibe */
    /* Optional styles */
    /* background-color: black; */
}

.over {
    position: absolute;
    /* justify-self: center; */
    top: 40vh;
}

.missed,
.score {
    width: 200px;
    height: 87px;
    display: flex;
    justify-content: center;
    /* overflow: hidden; */
    /* object-fit: contain; */
}

.gameOver {
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    font-family: 'EtchedFont', 'Courier New', Courier, monospace;
    /* Fallbacks are 🔑 */
    font-size: 70px;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    opacity: 0.8;
    color: rgb(85, 0, 0);
    margin: 0;
    padding: 0;
    width: 99vw;
    height: 100vh;
    position: absolute;
}
#Best{
    font-size: 50px;
    margin-bottom: 0;
}
.gameOver>*{
    margin: 30px;
}
th{
    background-color: #ffac55;
    height: 50px;
}
th,td{
    font-size: 26px;
    border: 2px solid;
    box-sizing: border-box;
    text-align: center;
    /* margin: 0; */
}
table{
    background-color: whitesmoke;
    border-collapse: collapse;
    width: 400px;
}

#high {
    user-select: none;
    background-color: #cdcbcc;
    font-family: 'EtchedFont', 'Courier New', Courier, monospace;
    color: rgb(85, 0, 0);
    font-size: 30px;
    border: 5px solid rgb(85, 0, 0);
    /* height: 100px; */
    padding: 10px;
    margin: 50px;
}

button {
    padding: 7px;
    color: white;
    background-color: rgb(85, 0, 0);
    font-size: 30px;
    border: 4px solid rgb(64, 53, 39);
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
    -drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    object-fit: contain;
    width: 100%;
    height: 100%;

}

canvas {
    width: 1024px;
    height: 576px;
    border: 15px solid rgb(105, 74, 33);
}

.hidden {
    display: none;
}

body {
    background-image: url("assets/cuttingboard.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scoreboard {
    position: absolute;
    display: flex;
    justify-content: space-around;
    user-select: none;
    height: 100px;
    width: 90vw;
}